{% extends 'base.html' %}
{% load static %}
{% block content%}

<!-- Product Details -->
<section class="section product-detail">
  
  <div class="details container">
    <div class="left">
      <div class="main">
        <img src="{{single_product.images.url}}" alt="" />
      </div>
    </div>
    <div class="right">
      
      <span>fresh product</span>
      <h1>{{single_product.product_name}}</h1>
      <div class="price">${{single_product.price}}</div>
      <form>
        <div>
          <select>
            <option value="Select Quantity" selected disabled>
              Select Quantity
            </option>
            <option value="1">1kg</option>
            <option value="2">2kg</option>
            <option value="3">3kg</option>
            <option value="4">4kg</option>
          </select>
          <span><i class="fas fa-chevron-down"></i></span>
        </div>
      </form>

      <form class="form">
        <input type="text" placeholder="1" />
        <a href="{% url 'cart' %}" class="addCart">Add To Cart</a>
      </form>
      <h3>Product Detail</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero minima
        delectus nulla voluptates nesciunt quidem laudantium, quisquam
        voluptas facilis dicta in explicabo, laboriosam ipsam suscipit!
      </p>
    </div>
   
    
  </div>
</section>
{% endblock%}